body{
	color:white;
	background-color:#f3f3f3;
	height:100%;
	width:100%;
}

#navication{
	background-color:#ffdd00;
	padding:0px;
	border-bottom: 5px solid orange;
	width:100%;
	height:50px;
	
	
	display:block;
	
    
}
#home{
	 color:white;
	 background-color:black;
	 cursor:pointer;
	 text-decoration:none;
	 font-size:35px;
	 margin-left:0px;
     border:4px solid orange;
	 border-radius:7px;
     
}
#home:hover {
  color:black;
  background-color:white;
}
#about{
	 color:white;
	 background-color:black;
	 cursor:pointer;
	 text-decoration:none;
	 font-size:35px;   
	 margin-left:35px;
	 border:4px solid orange;
	 border-radius:7px;
}
#about:hover {
  color:black;
  background-color:white;
}#contact{
	 color:white;
	 background-color:black;
	 cursor:pointer;
	 text-decoration:none;
	 font-size:35px;
     margin-left:35px;
	 border:4px solid orange;
	 border-radius:7px;
     
}
#contact:hover {
  color:black;
  background-color:white;
}
#naf{
	
	position:relative; left:900px; 
	background-color:white:
}
#foot{
	
	background-color:black;
	margin-top:500px;
	border-top:  5 px solid orange;
	border-bottom: 5px solid orange;
	
	
}
#copp{
	
	
	position:relative; left:105px;
	
	
	
}
#cop{
	
	position:relative; left:90px;
	
}
#foo{
    position:relative; left:500px;	
	
	
}
#colorl{
	
	
	
	color:#18ca18;

	
}
#color{
	width:400px;
}
